<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873344078507-rls1dd3t2vueh85cd8lm9jlgjjjh2r3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873344078507-rls1dd3t2vueh85cd8lm9jlgjjjh2r3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDou9DQPRNHmCE4Czln1yG6eoG-OxKeWig</string>
	<key>GCM_SENDER_ID</key>
	<string>873344078507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lurdharry.E-commerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-6582b</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-6582b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873344078507:ios:32db6b3d20749d0e15ddee</string>
</dict>
</plist>